:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  --maximum-yellow-red: hsla(40, 100%, 67%, 1);
  --tickle-me-pink: hsla(345, 100%, 74%, 1);
  --blue-yonder: hsla(221, 22%, 48%, 1);
  --lavender-gray: hsla(227, 20%, 77%, 1);
  --cultured: hsla(228, 12%, 92%, 1);
  --padding-5-percent: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cultured);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem var(--padding-5-percent);
  background: var(--maximum-yellow-red);
  flex-wrap: wrap;
  border-bottom: 0.2rem solid var(--tickle-me-pink);
  box-sizing: border-box;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
  height: 2rem;
}

#home-button,
#cart-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  transition: 100ms;
}

#home-button:hover,
#cart-button:hover {
  border-bottom: 0.2rem solid var(--tickle-me-pink);
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: 100ms;
}
.product-catalogue {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  padding: 2rem 3rem;
  justify-content: center;
}

.card {
  cursor: pointer;
  width: 18rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
}

.product-image {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-image > img {
  object-fit: contain;
  width: 9rem;
  max-height: 100%;
}

.category {
  font-size: 0.8rem;
  text-transform: capitalize;
}
.rating {
  font-size: 0.8rem;
}

.rating::before {
  content: "\f005";
  font-family: "Font Awesome 6 Free", emoji;
  font-weight: 900;
  color: gold;
  padding-right: 0.2rem;
}

.item-name {
  cursor: pointer;
  font-size: 16px;
  margin-right: 0.1rem;
  padding-bottom: 0.2rem;
  min-height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card:hover > .item-name {
  border-right: 0.2rem solid var(--tickle-me-pink);
}

.item-description {
  width: 16rem;
  min-height: 2.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}

.item-description::before {
  content: "Description:";
  text-decoration: underline;
  text-underline: black;
}

.cost {
  width: 100%;
  font-size: 2rem;
}

.cost::before {
  content: "$";
  font-size: 1rem;
  padding-right: 0.2rem;
}

#error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background: var(--blue-yonder);
  color: white;
  gap: 1rem;
  padding: 2rem var(--padding-5-percent) 1rem;
  margin-top: auto;
  border-top: 0.2rem solid var(--tickle-me-pink);
}

.min-height-80vh {
  min-height: 79vh;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.links {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link {
  cursor: pointer;
}

.attribution {
  padding-top: 1rem;
  font-size: 12px;
}

.edit-product {
  min-width: 30%;
  padding: 2rem 3rem;
  background: white;
}

.update-product-form {
  gap: 0.5rem;
}

.update-product-form > input:not([type="submit"]),
textarea {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid var(--tickle-me-pink);
}

.update-product-form > label {
  margin-bottom: -0.2rem;
}

.update-product-form > .hint-text {
  color: dimgrey;
  font-size: 0.7rem;
  margin-top: -0.2rem;
  margin-bottom: 1rem;
}

.update-product-form > input:focus:not([type="submit"]),
textarea {
  outline-style: none;
}

.update-product-form > input[type="submit"],
.update-product-button,
.view-product-button,
.add-to-cart-button {
  all: unset;
  background: var(--maximum-yellow-red);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  align-self: center;
  max-width: 200px;
}

.update-product-button,
.add-to-cart-button {
  margin-top: 0;
}

.close-edit-panel-button {
  all: unset;
  background: var(--maximum-yellow-red);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  max-width: 50px;
  max-height: 50px;
}

.update-product-form > textarea {
  max-width: 100%;
  max-height: 7rem;
  min-width: 100%;
  min-height: 5rem;
}

.update-product-form > #cost-field {
  max-width: 5rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background: white;
  border-radius: 0.5rem;
}

.modal-header,
.modal-footer {
  padding: 0.7rem;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 0.7rem;
  border-top: 1px solid var(--tickle-me-pink);
  border-bottom: 1px solid var(--tickle-me-pink);
}

.modal button {
  all: unset;
  background: var(--maximum-yellow-red);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  max-width: 200px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#product {
  padding: 0 var(--padding-5-percent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

#product > .image {
  width: 45vh;
  margin-right: 3rem;
  padding-top: 3rem;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#product > .image > img {
  max-height: 70vh;
  max-width: 45vh;
  border-radius: 0.5rem;
}

#product > .details {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  justify-content: flex-start;
}

#product > .details > .rating {
  align-self: start;
}

#product > .details > .cost {
  align-self: start;
}

#product > .details > .name {
  font-size: 22px;
}

#product > .details > .description {
  font-size: 16px;
}

.cart-container {
  padding: 2rem 10%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.cart-item-tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--tickle-me-pink);
}

.cart-item-tile > * {
  flex: 1;
}

.cart-item-tile > .image {
  background: white;
  margin: 0 2rem;
  border-radius: 0.5rem;
  padding: 2rem 0;
  min-width: 4rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cart-item-tile > .image > img {
  width: auto;
  height: auto;
  max-width: 6rem;
  max-height: 6rem;
}

.cart-item-tile > .title {
  flex: 1 0 20%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.cart-item-tile > .container > .quantity,
.card > .quantity,
#product > .details > .quantity {
  display: flex;
  align-self: center;
}

.cart-item-tile > .container > .quantity > .quantity-box,
.card > .quantity > .quantity-box,
#product > .details > .quantity > .quantity-box {
  background: white;
  padding: 0.3rem;
  width: 3rem;
  text-align: center;
}

.cart-item-tile > .container > .quantity > button,
.card > .quantity > button,
#product > .details > .quantity > button {
  all: unset;
  background: var(--maximum-yellow-red);
  padding: 0.3rem;
  cursor: pointer;
}

.cart-item-tile > .container > .quantity > button:first-child,
.card > .quantity > button:first-child,
#product > .details > .quantity > button:first-child {
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.cart-item-tile > .container > .quantity > button:last-child,
.card > .quantity > button:last-child,
#product > .details > .quantity > button:last-child {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

.cart-item-tile > .container > .remove-item-button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 0.35rem;
  color: red;
  background: var(--maximum-yellow-red);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .product-component {
    flex-direction: column;
  }
}

@media screen and (max-width: 778px) {
  .product-catalogue {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .cart-item-tile {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .cart-item-tile > .image {
    min-width: unset;
    width: 10rem;
    height: 10rem;
  }

  #product > .image {
    margin-right: 0;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  header {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
  }

  #product {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 2rem;
  }

  #product > .image > img {
    margin-right: 0;
  }
}

/*Loader*/

.loader-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--tickle-me-pink);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
